Source: fishbones-live
Section: admin
Priority: optional
Maintainer: Will Elliott <troutcobbler@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/troutcobbler/fishbones-live

Package: fishbones-live
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Populates a live hatchery user's home dir.
